#fullpage {
  background-image: url("../LandingPageFolder/images/KigumoPoster.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  border: 2px solid yellow;
}
/* ------landingpage background ends-------- */
span {
  position: absolute;
  /* top: 0;
  left: 0; */
  width: 100%;
  height: 100%;

  z-index: 10;
  background: rgba(0, 0, 0, 0.7);
}

* {
  font-family: "Nunito", sans-serif;
}
h1 {
  font-weight: 900;
}
p {
  font-weight: 500;
}
/* -----components in landing page---- */
.landingview {
  /* border: 2px solid white; */
  color: white;
  display: flex;
  flex: 1 1 30rem;
  padding: 10px;
  margin-top: 3rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.landingviewpage {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vh;
  height: 40vh;
  flex: 0.5 0.5 20rem;
  padding: 2rem;
  border-radius: 0.5rem;
  color: #fff;
  z-index: 13;
}
.landingviewpage img {
  width: 100vw;
  height: 90vh;
}
.landingviewpage .ticket {
  background: orange;
  color: black;
  border: 4px solid white;
}
/* ------components in landing page end------- */
#partners {
  /*border: 2px solid red;*/
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*width: 50vw;
  */height: 40vh;
  /*padding: 2rem;*/
  border-radius: 0.5rem;
  color: #fff;

}
/* -----choirs section end */
/* .foot{
  display: flex;
  justify-content: space-evenly;
  padding: 6px;
  margin: 40;
  outline: none;
  text-align: center;
  font-size: 40px;
  padding-top: 25px;
  color: #fa521c;
  z-index: 1000;
  background-color: #001E2A;
  z-index: 15;
  
}
footer {
  z-index: 15;
  background-color: #001E2A;
  
  
}
#linkf:hover{
  color: #fa521c;
  }

#linkf{
  text-decoration: none;
  display: flex;
  color: #fff;
  font-size: medium;
  font-weight: 600;
} */
#footer {
  display: flex;
  align-items: flex-start;
  margin-right: 5rem;
}
